# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: duanyll
subtitle: qwq | QWQ
avatar: https://cdn.duanyll.com/android-chrome-192x192.png
favicon: https://cdn.duanyll.com/favicon.ico
description: "Hi, I'm duanyll. Nice to meet you."
keywords:
author: duanyll
language: zh-CN
timezone: 'Asia/Chongqing'

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://duanyll.com
permalink: :year/:i_month/:i_day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: false # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: false # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :category/:year-:i_month-:i_day-:title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  enable: false
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'date'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include: []
exclude: []
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: stellar

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: ''

mathjax:
  tags: all # or 'ams' or 'all'
  single_dollars: true # enable single dollar signs as in-line math delimiters
  cjk_width: 0.9 # relative CJK char width
  normal_width: 0.6 # relative normal (monospace) width
  append_css: true # add CSS to pages rendered by MathJax
  every_page: true # if true, every page will be rendered by MathJax regardless the `mathjax` setting in Front-matter
  packages: # extra packages to load
  extension_options: {
    macros: {
      "R": "\\mathbb{R}",
      "N": "\\mathbb{N}",
      "Z": "\\mathbb{Z}",
      "C": "\\mathbb{C}",
      "lrArr": "\\Leftrightarrow",
      "lrarr": "\\leftrightarrow",
      "exist": "\\exists",
      "argmin": "\\operatorname*{arg\\,min}",
      "argmax": "\\operatorname*{arg\\,max}",
      "lArr": "\\Leftarrow",
      "larr": "\\leftarrow",
      "rArr": "\\Rightarrow",
      "rarr": "\\rightarrow",
      "sub": "\\subset",
      "d": "\\mathrm{d}",
      "p": "\\partial",
      "underbar": ["\\underline{#1}", 1],
      "un": ["\\,\\mathrm{#1}", 1],
      "re": "\\operatorname{Re}",
      "im": "\\operatorname{Im}",
      "conj": ["\\overline{#1}", 1],
      "Arg": "\\operatorname{Arg}",
      "plusmn": "\\pm",
      "Ln": "\\operatorname{Ln}",
      "Res": "\\operatorname*{Res}",
      "Cov": "\\operatorname{Cov}",
      "suchthat": "\\;\\mathrm{s.t.}\\;",
      "ord": "\\operatorname*{ord}",
      "empty": "\\varnothing",
      "rank": "\\operatorname{rank}",
    }
  }
    # you can put your extension options here
    # see http://docs.mathjax.org/en/latest/options/input/tex.html#tex-extension-options for more detail

pandoc:
  timeout: 5000
  args: 
    - --mathjax
    - --wrap=none
    # --wrap=none is a workaround for getting broken `<spanclass="math">` tags in the input of mathjax 
    # filter. It is unknown why this happens with the default `--wrap=auto` option.

search:
  path: search.xml
  field: post
  content: false

feed:
  enable: true
  type: atom
  path: atom.xml
  limit: 20
  hub:
  content: false
  content_limit: 140
  content_limit_delim:
  order_by: -date
  icon: icon.png
  autodiscovery: true
  template:

mermaid: ## mermaid url https://github.com/knsv/mermaid
  enable: true  # default true
  version: "7.1.2" # default v7.1.2
  options:  # find more api options from https://github.com/knsv/mermaid/blob/master/src/mermaidAPI.js
    #startOnload: true  // default true

hide_posts:
  # 是否启用 hexo-hide-posts
  enable: true

  # 隐藏文章的 front-matter 标识，也可以改成其他你喜欢的名字
  filter: hidden

  # 为隐藏的文章添加 noindex meta 标签，阻止搜索引擎收录
  noindex: true

  # 设置白名单，白名单中的 generator 可以访问隐藏文章
  # 常见的 generators 有：index, tag, category, archive, sitemap, feed, etc.
  # allowlist_generators: [ category ]

  # 设置黑名单，黑名单中的 generator 不可以访问隐藏文章
  # 如果同时设置了黑名单和白名单，白名单的优先级更高
  # blocklist_generators: ['*']

tikzjax:
  # Enable TikZ rendering for all posts and pages.
  # Or you can enable it per post by adding `tikzjax: true` to the front-matter.
  every_page: false
  # Add CSS to pages which contain TikZ graphs.
  append_css: true
  # URL of the font CSS file.
  font_css_url: 'https://cdn.jsdelivr.net/npm/node-tikzjax@latest/css/fonts.css'
  # Additional options that will be passed to node-tikzjax.
  # See: https://github.com/prinsss/node-tikzjax/#usage
  # tikzjax_options:
  #   showConsole: false